#**US Passengers Data Pre-processing**

In [ ]:
#import drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
#set directory
import os
os.chdir('/content/drive/MyDrive/thesis-folder')

In [ ]:
#import necessary packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import scipy as sc
import datetime
import calendar

In [ ]:
!pip install geopy 
!pip install Nominatim

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)
Collecting Nominatim
  Downloading https://files.pythonhosted.org/packages/59/f2/d47726f804208804f7f295e20a9d2ee4ea925fb6462481223464026bcf66/nominatim-0.1.tar.gz
Building wheels for collected packages: Nominatim
  Building wheel for Nominatim (setup.py) ... done
  Created wheel for Nominatim: filename=nominatim-0.1-cp37-none-any.whl size=2365 sha256=e088131ddeb2ab4a48590c27f45029eb618573ddca3ca81b907c5b8b2b9d5ba2
  Stored in directory: /root/.cache/pip/wheels/d5/66/ed/e7476981dc30210b6b5ce7c25b054e8db35d44fdd2198003d4
Successfully built Nominatim
Installing collected packages: Nominatim
Successfully installed Nominatim-0.1

#Functions

In [ ]:
#retrieve address, latitude and longitude by giving both city and country names
def return_loc_by_city_country(city_name, country_name):
  from  geopy.geocoders import Nominatim
  geolocator = Nominatim()
  city =city_name
  country = country_name
  loc = geolocator.geocode(city+','+ country)
  #print(loc.address)
  #print("latitude is :" ,loc.latitude,"\nlongtitude is:" ,loc.longitude)
  return loc.address, loc.latitude, loc.longitude


#retrieve address, latitude and longitude by giving only the city name
def return_loc_by_city(city_name): 
  from geopy.geocoders import Nominatim
  address=city_name
  geolocator = Nominatim(user_agent="Your_Name")
  location = geolocator.geocode(address)
  #print(location.address)
  #print((location.latitude, location.longitude)) 
  return location.address, location.latitude, location.longitude

#pre-process inconsistent data format in city and country
def pre_process_airport_code(bts_code,backfilled_code):

  city = []
  country = []

  bts_code['city_airport'] = bts_code.city_airport.str.split(':', expand=True)[0]

  for index, row in bts_code.iterrows():
    city_country = row.city_airport.split(',')
    city.append(city_country[0])
    if len(row.city_airport.split(',')) <= 2 :
      country.append(city_country[1])

    else:
      address = return_loc_by_city(city_country[0])[0]
      country.append(address.split(',')[-1])
      #print(row.apt_code, city_country[0], address.split(',')[-1])

  bts_code['city'] = city
  bts_code['country'] = country

  '''if flag == 'us_airports':
    bts_code.rename(columns={'apt_code':'usg_apt', 'city':'usg_city', 'country':'usg_country'}, inplace=True)
    backfilled_code.rename(columns={'apt_code':'usg_apt', 'city':'usg_city', 'country':'usg_country'}, inplace=True)
  
  else:
    bts_code.rename(columns={'apt_code':'fg_apt', 'city':'fg_city', 'country':'fg_country'}, inplace=True)
    backfilled_code.rename(columns={'apt_code':'fg_apt', 'city':'fg_city', 'country':'fg_country'}, inplace=True)'''

  bts_code.drop(columns='city_airport', inplace=True)

  bts_code = pd.concat([bts_code,backfilled_code], axis=0, ignore_index=True)

  return bts_code

#Read Files

In [ ]:
#International US passengers data
us_df = pd.read_csv('dataset/US air passengers 1990-2020.csv')
us_df

          data_dte  Year  Month  ...  Scheduled Charter   Total
0       06/01/2007  2007      6  ...          0     683     683
1       12/01/2005  2005     12  ...          0    1010    1010
2       04/01/2003  2003      4  ...          0     508     508
3       12/01/2005  2005     12  ...          0      76      76
4       03/01/2007  2007      3  ...          0      35      35
...            ...   ...    ...  ...        ...     ...     ...
682775  10/01/2015  2015     10  ...     130217       0  130217
682776  09/01/2014  2014      9  ...     132052       0  132052
682777  10/01/2014  2014     10  ...     132822       0  132822
682778  08/01/2014  2014      8  ...     134263       0  134263
682779  03/01/1990  1990      3  ...     149898     297  150195

[682780 rows x 16 columns]

In [ ]:
#file containing airport code and their corresponding country details
transport_codes_df = pd.read_excel('dataset/bureau-of-transportation-stats-data.xlsx')
transport_codes_df

     apt_code                                   city_airport
0         01A         Afognak Lake, AK: Afognak Lake Airport
1         03A  Granite Mountain, AK: Bear Creek Mining Strip
2         04A                       Lik, AK: Lik Mining Camp
3         05A         Little Squaw, AK: Little Squaw Airport
4         06A                     Kizhuyak, AK: Kizhuyak Bay
...       ...                                            ...
6504      ZXY                         Delta, CO: Blake Field
6505      ZXZ             Waterville, WA: Waterville Airport
6506      ZYL                Sylhet, Bangladesh: Savannakhet
6507      ZZU                   Mzuzu, Malawi: Mzuzu Airport
6508      ZZV           Zanesville, OH: Zanesville Municipal

[6509 rows x 2 columns]

In [ ]:
#codes that are left without country details
backfilled_codes_df = pd.read_excel('dataset/backfilled-missing-codes.xlsx')
backfilled_codes_df

  apt_code              city         country
0      NQZ            Akmola      Kazakhstan
1      BS1           Bristol  United Kingdom
2      BS3          Bristol   United Kingdom
3      BS2           Bristol  United Kingdom
4      BYJ              Beja        Portugal
5      GKE     Geilenkirchen         Germany
6      ZMH  British Columbia          Canada
7      OLL               Oyo           Congo
8      3TX           Decatur             USA

In [ ]:
#file with latitude and longitude details for countries
fg_lat_long_df1 = pd.read_csv('dataset/foreign_lat_long_mapping.csv')
fg_lat_long_df1

        foreign_city foreign_country      fg_lat     fg_long
0           acapulco          mexico   16.868049  -99.894018
1            calgary          canada   51.046095 -114.065465
2             cancun          mexico   21.161785  -86.851047
3           edmonton          canada   53.535411 -113.507996
4     guatemala city       guatemala   14.622233  -90.518519
...              ...             ...         ...         ...
1217       heraklion          greece   35.340013   25.134348
1218         taranto           italy   40.548197   17.081155
1219       cranfield  united kingdom   52.069021   -0.607932
1220        san jose     philippines  121.880200   12.084861
1221   santo domingo       venezuela  -67.206960   10.249828

[1222 rows x 4 columns]

In [ ]:
#file with latitude and longitude for countries
fg_lat_long_df2 = pd.read_csv('dataset/backfilled_fg_lat_long.csv')
fg_lat_long_df2

             foreign_city   foreign_country   fg_lat   fg_long
0                achutupo            panama   9.1983  -77.9873
1                   mamai  papua new guinea  25.1858   86.6750
2              tonga tapu             tonga -21.1466 -175.2515
3             isle baltra           ecuador  -0.4597  -90.2714
4      kobe honshu island             japan  34.6901  135.1956
5              lhok sukon         indonesia   5.3553   95.2418
6              nambaiyufa  papua new guinea  -6.2500  145.2330
7          big bay marina            canada  50.3833 -125.1330
8       naberevnye chelny            russia  55.7306   52.3893
9           ganges harbor            canada  48.8556 -123.4965
10   points north landing            canada  58.2701 -104.0814
11               miyanmin  papua new guinea  -4.9000  141.6170
12           sungei tekai          malaysia   3.1098  101.8517
13                 manumu  papua new guinea  -9.0710  147.5706
14               babelegi      south africa -25.3576   28.2774
15                sagarai  papua new guinea -10.3833  149.8330
16                  tauta  papua new guinea  -5.8500  145.9170
17                andenes            norway  69.3161   16.1202
18  princess lousia inlet            canada  50.1812 -123.8134
19               andeness            norway  69.3161   16.1202
20            miyake jima             japan  34.0788  139.5178

#Data Pre-processing

**Computed columns**

1. us_city
2. foreign_city
3. foreign_country
4. us_latitude
5. us_longitude
6. foreign_lat
7. foreign_long
8. month

In [ ]:
#split data into city and country
airport_code_df = pre_process_airport_code(transport_codes_df, backfilled_codes_df)
airport_code_df

     apt_code              city   country
0         01A      Afognak Lake        AK
1         03A  Granite Mountain        AK
2         04A               Lik        AK
3         05A      Little Squaw        AK
4         06A          Kizhuyak        AK
...       ...               ...       ...
6513      BYJ              Beja  Portugal
6514      GKE     Geilenkirchen   Germany
6515      ZMH  British Columbia    Canada
6516      OLL               Oyo     Congo
6517      3TX           Decatur       USA

[6518 rows x 3 columns]

In [ ]:
#merge pax data with US airport code data
#merged_us_df = us_df.merge(us_code_df, on=['usg_apt'], how='left')
merged_us_df = us_df.merge(airport_code_df, left_on=['usg_apt'], right_on=['apt_code'], how='left')
merged_us_df.drop(columns='apt_code', inplace=True)
merged_us_df

          data_dte  Year  Month  ...   Total         city  country
0       06/01/2007  2007      6  ...     683      Orlando       FL
1       12/01/2005  2005     12  ...    1010      Detroit       MI
2       04/01/2003  2003      4  ...     508  Minneapolis       MN
3       12/01/2005  2005     12  ...      76         Guam       TT
4       03/01/2007  2007      3  ...      35     San Juan       PR
...            ...   ...    ...  ...     ...          ...      ...
682775  10/01/2015  2015     10  ...  130217     New York       NY
682776  09/01/2014  2014      9  ...  132052     New York       NY
682777  10/01/2014  2014     10  ...  132822     New York       NY
682778  08/01/2014  2014      8  ...  134263     New York       NY
682779  03/01/1990  1990      3  ...  150195     New York       NY

[682780 rows x 18 columns]

In [ ]:
#merge pax data with foreign airport code data
us_pax_df = merged_us_df.merge(airport_code_df, left_on=['fg_apt'], right_on=['apt_code'], how='left')
#us_pax_df['foreign_country'] = merged_us_df.merge(airport_code_df, left_on=['fg_apt'], right_on=['apt_code'], how='left')['country']
us_pax_df.rename(columns={'city_x':'us_city', 'city_y':'foreign_city', 'country_y':'foreign_country'}, inplace=True)
us_pax_df.drop(columns=['country_x','apt_code'], inplace=True)
us_pax_df

          data_dte  Year  ...        foreign_city  foreign_country
0       06/01/2007  2007  ...             Halifax           Canada
1       12/01/2005  2005  ...               Aruba            Aruba
2       04/01/2003  2003  ...  Ixtapa/Zihuatanejo           Mexico
3       12/01/2005  2005  ...        Luzon Island      Philippines
4       03/01/2007  2007  ...         Philipsburg     Sint Maarten
...            ...   ...  ...                 ...              ...
682775  10/01/2015  2015  ...              London   United Kingdom
682776  09/01/2014  2014  ...              London   United Kingdom
682777  10/01/2014  2014  ...              London   United Kingdom
682778  08/01/2014  2014  ...              London   United Kingdom
682779  03/01/1990  1990  ...              London   United Kingdom

[682780 rows x 19 columns]

In [ ]:
#add computed column-month
us_pax_df['month'] = pd.to_datetime(us_pax_df['Month'], format='%m').dt.month_name()
us_pax_df

          data_dte  Year  Month  ...        foreign_city  foreign_country      month
0       06/01/2007  2007      6  ...             Halifax           Canada       June
1       12/01/2005  2005     12  ...               Aruba            Aruba   December
2       04/01/2003  2003      4  ...  Ixtapa/Zihuatanejo           Mexico      April
3       12/01/2005  2005     12  ...        Luzon Island      Philippines   December
4       03/01/2007  2007      3  ...         Philipsburg     Sint Maarten      March
...            ...   ...    ...  ...                 ...              ...        ...
682775  10/01/2015  2015     10  ...              London   United Kingdom    October
682776  09/01/2014  2014      9  ...              London   United Kingdom  September
682777  10/01/2014  2014     10  ...              London   United Kingdom    October
682778  08/01/2014  2014      8  ...              London   United Kingdom     August
682779  03/01/1990  1990      3  ...              London   United Kingdom      March

[682780 rows x 20 columns]

In [ ]:
us_pax_df['us_city'] = us_pax_df['us_city'].str.lower()
us_pax_df['foreign_city'] = us_pax_df['foreign_city'].str.lower()
us_pax_df['foreign_country'] = us_pax_df['foreign_country'].str.lower()

In [ ]:
#checking whether there are any missing city and country values
us_pax_df.isna().sum()

data_dte              0
Year                  0
Month                 0
usg_apt_id            0
usg_apt               0
usg_wac               0
fg_apt_id             0
fg_apt                0
fg_wac                0
airlineid             0
carrier            2797
carriergroup          0
type                  0
Scheduled             0
Charter               0
Total                 0
us_city             411
foreign_city          0
foreign_country       0
month                 0
dtype: int64

In [ ]:
#print airport codes with missing city values
print(len(us_pax_df[us_pax_df.us_city.isna()].usg_apt.unique()))
us_unique_list = []
us_unique_list = list(us_pax_df[us_pax_df.us_city.isna()].usg_apt.unique())
print(us_unique_list)

1
['ZZZ']

In [ ]:
#records with missing values
zzz_df = us_pax_df[us_pax_df['usg_apt'] == 'ZZZ']
zzz_df

          data_dte  Year  Month  ...    foreign_city    foreign_country      month
295     05/01/2005  2005      5  ...          majuro   marshall islands        May
412     05/01/2008  2008      5  ...        budapest            hungary        May
707     09/01/2009  2009      9  ...        montreal             canada  September
1934    07/01/2008  2008      7  ...  san pedro sula           honduras       July
1955    03/01/2006  2006      3  ...          naples              italy      March
...            ...   ...    ...  ...             ...                ...        ...
142026  08/01/2014  2014      8  ...    port mcneill             canada     August
142218  07/01/2014  2014      7  ...  campbell river             canada       July
145634  08/01/2014  2014      8  ...   bliss landing             canada     August
148570  07/01/2014  2014      7  ...         nanaimo             canada       July
149794  07/01/2014  2014      7  ...    dent island              canada       July

[411 rows x 20 columns]

Dropping ZZZ airport code rows because it belongs to Aarhus sea airport, located in Denmark.It might be updated recently by IATA.

In [ ]:
#drop ZZZ airport code from the master data
us_pax_df = us_pax_df[us_pax_df['usg_apt'] != 'ZZZ']
us_pax_df.shape

(682369, 20)

##Cleaning the data

In [ ]:
#drop unwanted columns
#columns dropped - usg_apt_id, usg_wac, fg_wac, airlineid, carrier, carriergroup, type, usg_apt, fg_apt
us_pax_df.drop(columns=['usg_apt_id','usg_wac','fg_apt_id','fg_wac','airlineid','carrier','carriergroup','type','usg_apt','fg_apt'], inplace=True)

#rename columns
us_pax_df.rename(columns={'data_dte':'date', 'Month':'month_num', 'Year':'year', 'Scheduled':'scheduled','Charter':'charter','Total':'total'}, inplace=True)

#convert to lower case
us_pax_df['us_city'] = us_pax_df['us_city'].str.lower()
us_pax_df['foreign_city'] = us_pax_df['foreign_city'].str.lower()
us_pax_df['foreign_country'] = us_pax_df['foreign_country'].str.lower()
us_pax_df['month'] = us_pax_df['month'].str.lower()

#convert date to datetime datatype
#us_pax_df['date'] = pd.to_datetime(us_pax_df['date'],format='%m/%d/%Y').dt.strftime('%d/%m/%Y')
us_pax_df['date'] = pd.to_datetime(us_pax_df['date'])

#order the dataframe columns
us_pax_df = us_pax_df[['us_city','foreign_city','foreign_country','month','month_num','year','scheduled','charter','total']]

#remove spaces
us_pax_df.foreign_country = us_pax_df.foreign_country.apply(lambda x: x.lstrip())
us_pax_df.foreign_country = us_pax_df.foreign_country.apply(lambda x: x.split('(')[0])

#removing city aliases by removing the content after "/"
us_pax_df['us_city'] = us_pax_df['us_city'].str.split('/',expand=True)[0]
us_pax_df['foreign_city'] = us_pax_df['foreign_city'].str.split('/', expand=True)[0]

us_pax_df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

            us_city  foreign_city foreign_country  ... scheduled  charter   total
0           orlando       halifax          canada  ...         0      683     683
1           detroit         aruba           aruba  ...         0     1010    1010
2       minneapolis        ixtapa          mexico  ...         0      508     508
3              guam  luzon island     philippines  ...         0       76      76
4          san juan   philipsburg    sint maarten  ...         0       35      35
...             ...           ...             ...  ...       ...      ...     ...
682775     new york        london  united kingdom  ...    130217        0  130217
682776     new york        london  united kingdom  ...    132052        0  132052
682777     new york        london  united kingdom  ...    132822        0  132822
682778     new york        london  united kingdom  ...    134263        0  134263
682779     new york        london  united kingdom  ...    149898      297  150195

[682369 rows x 9 columns]

##Retrieving latitude and longitude using Geopy and Nominatim

In [ ]:
'''
#Mapping latitude and longitude of 1200 unique foreign cities
i = 0
problematic_city_loc = []
unique_city_df['fg_lat'] = ''
unique_city_df['fg_long'] = ''

for index, row in unique_city_df.iterrows():
    try:
      row['fg_lat'] = return_loc_by_city_country(row['foreign_city'], row['foreign_country'])[-2]
      row['fg_long'] = return_loc_by_city_country(row['foreign_city'], row['foreign_country'])[-1]
      i+=1
      print('Retrieving location for {} th record'.format(i))
    
    
    except AttributeError:
        problematic_city_loc.append(row['foreign_city'])
        

unique_city_df.to_csv('foreign_lat_long_mapping.csv', index=False)
'''

"\n#Mapping latitude and longitude of 1200 unique foreign cities\ni = 0\nproblematic_city_loc = []\nunique_city_df['fg_lat'] = ''\nunique_city_df['fg_long'] = ''\n\nfor index, row in unique_city_df.iterrows():\n    try:\n      row['fg_lat'] = return_loc_by_city_country(row['foreign_city'], row['foreign_country'])[-1]\n      row['fg_long'] = return_loc_by_city_country(row['foreign_city'], row['foreign_country'])[-2]\n      i+=1\n      print('Retrieving location for {} th record'.format(i))\n    \n    \n    except AttributeError:\n        problematic_city_loc.append(row['foreign_city'])\n        \n\nunique_city_df.to_csv('foreign_lat_long_mapping.csv', index=False)\n"

In [ ]:
'''
us_cities_list = us_df.us_city.unique()
us_city = []
us_lat = []
us_long = []
problematic_city = []
i = 1

try:
  for city in us_cities_list:
    us_city.append(city)
    us_lat.append(return_loc_by_city_country(city, 'united states')[1])
    us_long.append(return_loc_by_city_country(city, 'united states')[2])
    print('Retrieving {}th record'.format(i))
    i += 1

except AttributeError:
  problematic_city.append(city)

city_dict = {'us_city': us_city, 'us_lat': us_lat, 'us_long': us_long}
us_lat_long_df = pd.DataFrame(data=city_dict)

us_lat_long_df.to_csv('dataset/us_lat_long.csv', index=False)
'''

"\nus_cities_list = us_df.us_city.unique()\nus_city = []\nus_lat = []\nus_long = []\nproblematic_city = []\ni = 1\n\ntry:\n  for city in us_cities_list:\n    us_city.append(city)\n    us_lat.append(return_loc_by_city_country(city, 'united states')[1])\n    us_long.append(return_loc_by_city_country(city, 'united states')[2])\n    print('Retrieving {}th record'.format(i))\n    i += 1\n\nexcept AttributeError:\n  problematic_city.append(city)\n\ncity_dict = {'us_city': us_city, 'us_lat': us_lat, 'us_long': us_long}\nus_lat_long_df = pd.DataFrame(data=city_dict)\n\nus_lat_long_df.to_csv('dataset/us_lat_long.csv', index=False)\n"

In [ ]:
#combine foreign cities' latitude and longitude into single dataframe from two files
fg_lat_long_df = pd.concat([fg_lat_long_df1,fg_lat_long_df2], axis=0, ignore_index=True)
fg_lat_long_df.rename(columns={'fg_lat':'foreign_lat', 'fg_long':'foreign_long'}, inplace=True)
fg_lat_long_df

               foreign_city   foreign_country  foreign_lat  foreign_long
0                  acapulco            mexico    16.868049    -99.894018
1                   calgary            canada    51.046095   -114.065465
2                    cancun            mexico    21.161785    -86.851047
3                  edmonton            canada    53.535411   -113.507996
4            guatemala city         guatemala    14.622233    -90.518519
...                     ...               ...          ...           ...
1238                  tauta  papua new guinea    -5.850000    145.917000
1239                andenes            norway    69.316100     16.120200
1240  princess lousia inlet            canada    50.181200   -123.813400
1241               andeness            norway    69.316100     16.120200
1242            miyake jima             japan    34.078800    139.517800

[1243 rows x 4 columns]

In [ ]:
#join foreign cities' latitude and longitude details with the master dataframe
us_df = pd.merge(us_pax_df, fg_lat_long_df, how='left', on=['foreign_city','foreign_country'])
us_df.dropna(axis=0, inplace=True)
us_df.reset_index(inplace=True, drop=True)
us_df

            us_city  foreign_city  ... foreign_lat foreign_long
0           orlando       halifax  ...   44.648618   -63.585949
1           detroit         aruba  ...   12.490300   -69.960984
2       minneapolis        ixtapa  ...   16.807623   -92.898650
3              guam  luzon island  ...   12.750349   122.731210
4          san juan   philipsburg  ...   18.025071   -63.048307
...             ...           ...  ...         ...          ...
682364     new york        london  ...   51.507322    -0.127647
682365     new york        london  ...   51.507322    -0.127647
682366     new york        london  ...   51.507322    -0.127647
682367     new york        london  ...   51.507322    -0.127647
682368     new york        london  ...   51.507322    -0.127647

[682369 rows x 11 columns]

In [ ]:
#read US latitude and longitude from file
us_cities_df = pd.read_csv('dataset/us_lat_long.csv')
us_cities_df

         us_city     us_lat     us_long
0        orlando  28.542111  -81.379030
1        detroit  42.331551  -83.046640
2    minneapolis  44.977300  -93.265469
3           guam  13.450126  144.757551
4       san juan  18.465299  -66.116666
..           ...        ...         ...
662    limestone  31.526185  -96.580617
663      kapolei  21.334008 -158.077849
664      chatham  39.676163  -89.704544
665  king salmon  58.755161 -156.519247
666        selma  32.407863  -87.020747

[667 rows x 3 columns]

In [ ]:
#combine US cities' latitude and longitude with master dataframe
us_df = pd.merge(us_df, us_cities_df, how='left', on=['us_city'])
us_df

            us_city  foreign_city  ...     us_lat     us_long
0           orlando       halifax  ...  28.542111  -81.379030
1           detroit         aruba  ...  42.331551  -83.046640
2       minneapolis        ixtapa  ...  44.977300  -93.265469
3              guam  luzon island  ...  13.450126  144.757551
4          san juan   philipsburg  ...  18.465299  -66.116666
...             ...           ...  ...        ...         ...
682364     new york        london  ...  40.712728  -74.006015
682365     new york        london  ...  40.712728  -74.006015
682366     new york        london  ...  40.712728  -74.006015
682367     new york        london  ...  40.712728  -74.006015
682368     new york        london  ...  40.712728  -74.006015

[682369 rows x 13 columns]

In [ ]:
#cleaning df2 and replacing the correct city name for faulty city names
us_df[us_df.foreign_city == 'isle baltra'].foreign_city = 'isla baltra'
us_df[us_df.foreign_city == 'kobe honshu island'].foreign_city = 'kobe'
us_df[us_df.foreign_city == 'lhok sukon'].foreign_city = 'lhok seudu'
us_df[us_df.foreign_city == 'naberevnye chelny'].foreign_city = 'naberezhnye chelny'
us_df[us_df.foreign_city == 'sungei tekai'].foreign_city = 'sungai tekali'
us_df[us_df.foreign_city == 'andeness'].foreign_city = 'andenes'

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5170: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [ ]:
#group the dataset by month and year
agg_dict = {'month_num':'first', 'scheduled':'sum', 'charter':'sum','total':'sum',  'us_lat':'first', 'us_long':'first','foreign_lat':'first', 'foreign_long':'first'}
#us_grouped_df = us_df.groupby(['year','month','us_city','foreign_city','foreign_country'], as_index=False).agg(agg_dict)
us_grouped_df = us_df.groupby(['year','month','us_city','foreign_city','foreign_country'], as_index=False).agg(agg_dict)
us_grouped_df = us_grouped_df[['us_city', 'foreign_city','foreign_country','year','month','month_num','us_lat','us_long', 'foreign_lat', 'foreign_long', 'scheduled', 'charter', 'total']]
#us_pax_grouped_df.reset_index(inplace=True)
us_grouped_df

                us_city foreign_city foreign_country  ...  scheduled charter  total
0                albany     montreal          canada  ...          0     183    183
1             allentown     freeport     the bahamas  ...          0      30     30
2             anchorage    amsterdam     netherlands  ...      10007       0  10007
3             anchorage     brussels         belgium  ...       3254       0   3254
4             anchorage   copenhagen         denmark  ...       5739       0   5739
...                 ...          ...             ...  ...        ...     ...    ...
436235       washington        sofia        bulgaria  ...          0     609    609
436236       washington      toronto          canada  ...        235       0    235
436237  west palm beach     saguenay          canada  ...          0       1      1
436238      westhampton       london  united kingdom  ...          0      10     10
436239      westhampton      toronto          canada  ...          0       4      4

[436240 rows x 13 columns]

Drop 2020's records

In [ ]:
#check shape of the dataframe before dropping
us_grouped_df.shape

(436240, 13)

In [ ]:
#drop 2020 records as it tends to show variation in patterns due to pandemic
us_grouped_df= us_grouped_df[us_grouped_df['year'] != 2020]
us_grouped_df

             us_city foreign_city foreign_country  ...  scheduled charter  total
0             albany     montreal          canada  ...          0     183    183
1          allentown     freeport     the bahamas  ...          0      30     30
2          anchorage    amsterdam     netherlands  ...      10007       0  10007
3          anchorage     brussels         belgium  ...       3254       0   3254
4          anchorage   copenhagen         denmark  ...       5739       0   5739
...              ...          ...             ...  ...        ...     ...    ...
430002  white plains       naples           italy  ...          0      14     14
430003  white plains        paris          france  ...          0       2      2
430004  white plains   sonderborg         denmark  ...          0       1      1
430005  white plains      toronto          canada  ...          0      19     19
430006        yakima    vancouver          canada  ...         48       0     48

[430007 rows x 13 columns]

In [ ]:
#verify whether the dataframe has 2020's records after dropping
us_grouped_df[us_grouped_df['year'] == 2020]

Empty DataFrame
Columns: [us_city, foreign_city, foreign_country, year, month, month_num, us_lat, us_long, foreign_lat, foreign_long, scheduled, charter, total]
Index: []

In [ ]:
#there are 58629 records for the years 2017,2018,2019
us_grouped_df[us_grouped_df['year'].isin([2017,2018,2019])]

             us_city    foreign_city foreign_country  ...  scheduled charter  total
371131       abilene         calgary          canada  ...         62       0     62
371132       abilene       monterrey          mexico  ...         59       0     59
371133       abilene       queretaro          mexico  ...         61       0     61
371134        albany         toronto          canada  ...          0       3      3
371135   albuquerque  guatemala city       guatemala  ...          0     503    503
...              ...             ...             ...  ...        ...     ...    ...
430002  white plains          naples           italy  ...          0      14     14
430003  white plains           paris          france  ...          0       2      2
430004  white plains      sonderborg         denmark  ...          0       1      1
430005  white plains         toronto          canada  ...          0      19     19
430006        yakima       vancouver          canada  ...         48       0     48

[58876 rows x 13 columns]

In [ ]:
#check missing values
us_grouped_df.isna().sum()

us_city            0
foreign_city       0
foreign_country    0
year               0
month              0
month_num          0
us_lat             0
us_long            0
foreign_lat        0
foreign_long       0
scheduled          0
charter            0
total              0
dtype: int64

In [ ]:
#save the resultant data
us_grouped_df.to_csv('intermittent-result/International US/US_pax_processed.csv', index=False)

#Generate Season-wise data

In [ ]:
#generate a new dataframe for summer season pax data
us_summer_df = us_grouped_df[us_grouped_df.month.isin(['june', 'july', 'august'])]
us_summer_df

              us_city   foreign_city  ... charter  total
790         aguadilla  port of spain  ...     467    467
791            albany       montreal  ...       0     45
792            albany        toronto  ...       0     91
793         anchorage      amsterdam  ...       0  15672
794         anchorage       brussels  ...       0   4120
...               ...            ...  ...     ...    ...
421955   white plains       pristina  ...       7      7
421956   white plains           rome  ...       2      2
421957   white plains        shannon  ...       4      4
421958   white plains        toronto  ...      16     16
421959  wichita falls        toronto  ...       0     76

[111162 rows x 13 columns]

In [ ]:
#check whether data is present only for summer months
us_summer_df.month.unique()

array(['august', 'july', 'june'], dtype=object)

In [ ]:
#generate a new dataframe for autumn season pax data
us_autumn_df = us_grouped_df[us_grouped_df.month.isin(['september', 'october', 'november'])]
us_autumn_df

             us_city    foreign_city  ... charter  total
7412       aguadilla  providenciales  ...      50     50
7413       aguadilla       st. lucia  ...     123    123
7414          albany          cancun  ...     330    330
7415       allentown        freeport  ...     138    138
7416       anchorage       amsterdam  ...       0   5265
...              ...             ...  ...     ...    ...
430002  white plains          naples  ...      14     14
430003  white plains           paris  ...       2      2
430004  white plains      sonderborg  ...       1      1
430005  white plains         toronto  ...      19     19
430006        yakima       vancouver  ...       0     48

[101084 rows x 13 columns]

In [ ]:
#check whether data is present only for autumn months
us_autumn_df.month.unique()

array(['november', 'october', 'september'], dtype=object)

In [ ]:
#generate a new dataframe for winter season pax data
us_winter_df = us_grouped_df[us_grouped_df.month.isin(['december','january','february'])]
us_winter_df

             us_city    foreign_city  ... charter  total
1636          albany        montreal  ...       0    108
1637       anchorage       amsterdam  ...       0   6028
1638       anchorage      copenhagen  ...       0   4559
1639       anchorage      dusseldorf  ...       0   1736
1640       anchorage          london  ...       0  16032
...              ...             ...  ...     ...    ...
418382  white plains         toronto  ...       4      4
418383    wilmington       goose bay  ...       2      2
418384    wilmington  guatemala city  ...       2      2
418385    wilmington  providenciales  ...       4      4
418386    wilmington         toronto  ...       4      4

[108989 rows x 13 columns]

In [ ]:
#check whether data is present only for winter months
us_winter_df.month.unique()

array(['december', 'february', 'january'], dtype=object)

In [ ]:
#generate a new dataframe for spring season pax data
us_spring_df = us_grouped_df[us_grouped_df.month.isin(['march', 'april', 'may'])]
us_spring_df

             us_city    foreign_city foreign_country  ...  scheduled charter  total
0             albany        montreal          canada  ...          0     183    183
1          allentown        freeport     the bahamas  ...          0      30     30
2          anchorage       amsterdam     netherlands  ...      10007       0  10007
3          anchorage        brussels         belgium  ...       3254       0   3254
4          anchorage      copenhagen         denmark  ...       5739       0   5739
...              ...             ...             ...  ...        ...     ...    ...
425343  white plains  st. petersburg          russia  ...          0       2      2
425344  white plains         toronto          canada  ...          0      11     11
425345       wichita        edmonton          canada  ...        140       0    140
425346       wichita         toronto          canada  ...          0       9      9
425347      winthrop       vancouver          canada  ...          0       1      1

[108772 rows x 13 columns]

In [ ]:
#check whether data is present only for spring months
us_spring_df.month.unique()

array(['april', 'march', 'may'], dtype=object)

In [ ]:
#save season-wise data as separate csv file
us_summer_df.to_csv('intermittent-result/International US/us_summer_pax_data.csv', index=False)
us_autumn_df.to_csv('intermittent-result/International US/us_autumn_pax_data.csv', index=False)
us_winter_df.to_csv('intermittent-result/International US/us_winter_pax_data.csv', index=False)
us_spring_df.to_csv('intermittent-result/International US/us_spring_pax_data.csv', index=False)